[MASTER]
# List of plugins to load, including frappe-specific globals if applicable
load-plugins=pylint.extensions.docparams

# Paths to ignore during linting
ignore=migrations,test_sites,node_modules,public

# ERPNext/Custom app has many dynamically loaded attributes
extension-pkg-whitelist=frappe

[MESSAGES CONTROL]
enable=
    undefined-variable,
    unused-import,
    unused-variable,
    unbalanced-tuple-unpacking,
    dangerous-default-value,
    no-value-for-parameter,
    attribute-defined-outside-init,
    duplicate-key,
    not-callable,
    exec-used,
    eval-used,
    redefined-builtin,
    # broad-except,

disable=all

[TYPECHECK]
ignored-modules=frappe
ignored-classes=FrappeClient,LocalProxy

[REPORTS]
# Disable score report
reports=no
output-format=colorized

[LOGGING]
# Allow direct string formatting in logging (ERPNext uses it)
logging-format-style=old
