<table class="table" id="row_{{ name }}">
    <thead class="thead-light">
        <tr>
            <th scope="col" style="width: 48%;">{{ _("Purchase Invoice") }} <span class="text-muted pull-right">{{ company }}</span></th>
            <th scope="col" style="width: 52%;">{{ _("Attachments") }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <!-- left column -->
                <div id="quick_entry_{{ name }}">
                    <table class="table" style="width: 100%; margin-top: 0px; background-color: inherit; ">
                            <tr>
                                <td style="width: 50%; ">{{ _("Document") }}</td>
                                <td>
                                    <a href="/desk#Form/Purchase Invoice/{{ name }}">{{ name }}</a>
                                    <button class="btn btn-sm btn-primary pull-right" id="btn_save_{{ name }}">{{ _("Save") }}</button>
                                    <button class="btn btn-sm btn-primary pull-right" id="btn_edit_{{ name }}" style="margin-right: 5px; ">{{ _("Edit") }}</button>
                                </td>
                            <tr>
                                <td>{{ _("Supplier ID") }}</td>
                                <td>
                                    <div style="display: flex; justify-content: space-between; ">
                                        <div class="supplier" id="supplier_{{ name }}"></div>
                                        <button class="btn btn-sm btn-info pull-right" id="btn_supplier_{{ name }}">{{ _("Select by PO") }}</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ _("Supplier Name") }}</td>
                                <td>
                                    <div id="supplier_name_{{ name }}">{{ supplier_name }}
                                        {% if purchase_orders %}
                                            <button class="btn btn-sm btn-info pull-right" type="button" data-toggle="collapse" data-target="#po_table_{{ name }}" aria-expanded="false" aria-controls="po_table_{{ name }}">
                                                {{ _("POs") }}
                                            </button>
                                        {% endif %}
                                    </div>
                                    {% if purchase_orders %}

                                        <div class="collapse" id="po_table_{{ name }}">
                                            <table class="table">
                                                <header>
                                                    <tr>
                                                        <th>{{ _("Purchase Order") }}</th>
                                                        <th>{{ _("Date") }}</th>
                                                        <th>{{ _("Grand Total") }}</th>
                                                    </tr>
                                                </header>
                                                <tbody>
                                                    {% for po in purchase_orders %}
                                                        <tr>
                                                            <td><button class="btn btn-sm btn-secondary po-button" id="po_button_{{ po.name }}" data-po-name="{{ po.name }}" data-pi-name="{{ name }}">{{ po.name }}</button></td>
                                                            <td>{{ frappe.utils.formatdate(po.transaction_date, "dd.MM.yyyy") }}</td>
                                                            <td>{{ currency }} {{ "{:,.2f}".format(po.grand_total).replace(",", "&apos;") }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>{{ _("Supplier Invoice No") }}</td>
                                <td><div id="bill_no_{{ name }}"></div></td>
                            </tr>
                            <tr {% if total < 0 %}class="highlight-row"{% endif %} >
                                <td>{{ _("Net Total") }}</td>
                                <td>
                                    {% if allow_edit_net_amount %}
                                        <div id="net_total_{{ name }}"></div>
                                    {% else %}
                                        <div id="net_total_{{ name }}">{{ currency }} {{ "{:,.2f}".format(total).replace(",", "&apos;") }}</div>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>{{ _("Taxes") }}</td>
                                <td><div id="taxes_{{ name }}">{{ currency }} {{ "{:,.2f}".format(total_taxes_and_charges).replace(",", "&apos;") }}</div></td>
                            </tr>
                            <tr>
                                <td>{{ _("Grand Total") }}</td>
                                <td><div id="grand_total_{{ name }}">{{ currency }} {{ "{:,.2f}".format(grand_total).replace(",", "&apos;") }}</div></td>
                            </tr>
                            <tr>
                                <td>{{ _("Tax Template") }}</td>
                                <td><div id="tax_template_{{ name }}">{{ taxes_and_charges }}</div></td>
                            </tr>
                            <tr>
                                <td>{{ _("Supplier Invoice Date") }}</td>
                                <td><div class="bill_date" id="bill_date_{{ name }}"></div></td>
                            </tr>
                            <tr>
                                <td>{{ _("Posting Date") }}</td>
                                <td><div class="posting_date" id="posting_date_{{ name }}"></div></td>
                            </tr>
                            <tr {% if due_date <= curdate %}class="highlight-row"{% endif %} >
                                <td>{{ _("Due Date") }}</td>
                                <td><div id="due_date_{{ name }}"></div></td>
                            </tr>
                            <tr>
                                <td>{{ _("Expense Account / Cost Center") }}</td>
                                <td><div id="expense_account_{{ name }}">{{ (expense_account or "") }} / {{ (cost_center or "-") }}</div></td>
                            </tr>
                            <tr>
                                <td>{{ _("IBAN") }}</td>
                                <td><div id="iban_{{ name }}">{{ iban }}</div></td>
                            </tr>
                            <tr>
                                <td>{{ _("ESR Participation Number / QR-IBAN") }}</td>
                                <td><div id="esr_participation_number_{{ name }}">{{ esr_participation_number or "" }}</div></td>
                            </tr>
                            <tr>
                                <td>{{ _("Payment Method") }}</td>
                                <td><div id="payment_method_{{ name }}">{{ default_payment_method }}</div></td>
                            </tr>
                            <tr>
                                <td>{{ _("Approver") }}</td>
                                <td><div id="approver_{{ name }}"></div></td>
                            </tr>
                            {% if is_return %}
                                <td>{{ _("Return Type") }}</td>
                                <td><div id="return_type_{{ name }}">{{ return_type }}</div></td>
                            {% endif %}
                            <tr>
                                <td>{{ _("Remarks") }}</td>
                                <td><div id="remarks_{{ name }}"></div></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-sm btn-danger" id="btn_delete_{{ name }}">{{ _("Delete") }}</button></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="full_form_{{ name }}" style="display: none; ">
                    <button class="btn btn-sm btn-primary pull-right" id="btn_close_{{ name }}">{{ _("Close") }}</button>
                    <div id="form_frame_{{ name }}">
                    </div>
                </div>
            </td>
            <td>
                <!-- right column -->
                {% for a in attachments %}
                    <iframe class="pdf" src="{{ a.file_url }}"></iframe>
                {% endfor %}
                <button class="btn btn-sm btn-primary" id="btn_assign_{{ name }}">{{ _("Assign to Approver") }}</button>
                {% if reject_message %}
                    <p style="background-color: #F6CDCE; padding: 3px; "><b>{{ _("Reject message") }}:</b><br>{{ reject_message }}</p>
                {% endif %}
            </td>
        </tr>
    <tbody>
</table>
