<div  id="header-html" class="hidden-pdf">    
    {% set letter_head = frappe.get_doc("Letter Head", doc.company) %}    
    {% if letter_head %}
        {{ letter_head.content }}
    {% else %}
        <p>Letter head {{ doc.company }} not found. Please define the letter head under print settings.</p>
    {% endif %}
</div>

{% set vars = { 'sum_net_totals': 0, 'sum_taxes': 0, 'sum_grand_totals': 0, 'sum_base_totals': 0 } %}

{% if doc.austria_dns|length > 0 %}
    {% for dn in doc.austria_dns %}
        {% if vars.update({'sum_base_totals': vars.sum_base_totals + dn.base_total })%}{% endif %}
    {% endfor %}
{% endif %}

{% if doc.eu_dns|length > 0 %}
    {% for dn in doc.eu_dns %}
        {% if vars.update({'sum_base_totals': vars.sum_base_totals + dn.base_total })%}{% endif %}
    {% endfor %}
{% endif %}

{% set delivery_note_count = doc.austria_dns|length + doc.eu_dns|length %}
{% set language = doc.language %}

{% if part and part == "front" %}
    <!-- export declaration -->
    <div class="page-break"></div> 
    <table style="width: 100%; height: 215px !important;">
        <tr>
            <td style="width: 54%; padding: 0px !important; padding-top:22px !important;">
                <u style="font-size: 10px !important;"></u><br/>
                <p style="font-size: 12px !important; line-height: 15px !important;"></p>
            </td>
            <td style="width: 46%; padding: 0px !important; padding-top:22px !important;">
                <u style="font-size: 10px !important; letter-spacing: -0.05em;">{{ letter_head.sender_address_line }}</u><br/>
                <p style="font-size: 12px !important; line-height: 15px !important;">Microsynth AG<br>Postfach 56<br>6961 Wolfurt<br>Österreich</p>
            </td>
        </tr>
    </table>

    <p id="subject"><strong>Customs Declaration Export {{ doc.name }}</strong></p>

    <table id="meta">
        <tr>
            <td style="width: 23%; "></td>
            <td style="width: 23%; "></td>
            <td style="width:  8%; "></td>
            <td style="width: 23%; "> {{ _("Date", language) }}:</td>
            <td style="width: 23%; ">{{ doc.get_formatted('date') }}</td>
        </tr>
    </table>
    <p><br></p> 
    <ul>
        <li>Count of Delivery Notes (AT + EU): <strong>{{ delivery_note_count }}</strong></li>
        <li>Sum of Total Net Costs (AT + EU): <strong>{{ "%0.2f" | format( vars.sum_base_totals | float) }} CHF</strong></li>
    </ul>
{% endif %}

{% if part and part == "AT" %}
    <!-- overview austria -->
    <div class="page-break"></div> 

    <table style="width: 100%; height: 215px !important;">
        <tr>
            <td style="width: 54%; padding: 0px !important; padding-top:22px !important;">
                <u style="font-size: 10px !important;"></u><br/>
                <p style="font-size: 12px !important; line-height: 15px !important;"></p>
            </td>
            <td style="width: 46%; padding: 0px !important; padding-top:22px !important;">
                <u style="font-size: 10px !important; letter-spacing: -0.05em;">{{ letter_head.sender_address_line }}</u><br/>
                <p style="font-size: 12px !important; line-height: 15px !important;">Microsynth AG<br>Postfach 56<br>6961 Wolfurt<br>Österreich</p>
            </td>
        </tr>
    </table>

    <p id="subject"><strong>Sammelauszug AT {{ doc.name }}</strong></p>

    <table id="meta">
        <tr>
            <td style="width: 23%; "></td>
            <td style="width: 23%; "></td>
            <td style="width:  8%; "></td>
            <td style="width: 23%; "> {{ _("Date", language) }}:</td>
            <td style="width: 23%; ">{{ doc.get_formatted('date') }}</td>
        </tr>
    </table>
    <p><br></p> 


    {% if doc.austria_dns|length > 0 %}
        {% set vars = { 'sum_net_totals': 0, 'sum_taxes': 0, 'sum_grand_totals': 0  } %}
        <table  style="width: 100%; ">
            <tr style="border-bottom: 1px solid silver; font-size: 9px;">
                <td style="width: 5%; "><strong>Kunden ID</strong></td>
                <td style="width: 30%; "><strong>Adresse</strong></td>
                <td style="width: 5%; "><strong></strong></td>
                <td style="width: 15%; padding-left: 0px !important; "><strong>VAT ID</strong></td>
                <td style="width: 20%; padding-left: 0px !important; "><strong>Lieferung<br>Web Order ID</strong></td>
                <td style="width: 10%; text-align: right; "><strong>Warenwert<br>netto (€)</strong></td>
                <td style="width: 5%; text-align: right; "><strong>VAT (€)</strong></td>
                <td style="width: 10%; text-align: right; "><strong>Betrag brutto (€)</strong></td>
            </tr>
            {% for dn in doc.austria_dns %}
                {% set delivery_note = frappe.get_doc("Delivery Note", dn.delivery_note) %}
                {% set address = frappe.get_doc("Address", dn.shipping_address) %}
                {% set country = frappe.get_doc("Country", dn.country) %}
                {% if vars.update({'sum_net_totals': vars.sum_net_totals + dn.net_total }) %}{% endif %}
                {% if vars.update({'sum_taxes': vars.sum_taxes + dn.taxes }) %}{% endif %}
                {% if vars.update({'sum_grand_totals': vars.sum_grand_totals + dn.grand_total }) %}{% endif %}
                <tr style="border-bottom: 1px solid silver; font-size: 9px;">
                    <td style="padding-left: 8px !important; ">{{ dn.customer }}</td>
                    <td style="padding-left: 0px !important; ">{{ dn.customer_name }}<br>{{ address.pincode }} {{ address.city }}</td>
                    <td style="padding-left: 0px !important; ">{{ country.code.upper() }}</td>
                    <td style="padding-left: 0px !important; ">{{ dn.tax_id }}</td>
                    <td style="padding-left: 0px !important; ">{{ dn.delivery_note }}<br>{{ delivery_note.web_order_id }}</td>
                    <td style="text-align: right; ">{{ dn.get_formatted('net_total') }}</td>
                    <td style="text-align: right; ">{{ dn.get_formatted('taxes') }}</td>
                    <td style="text-align: right; ">{{ dn.get_formatted('grand_total') }}</td>
                </tr>
            {% endfor %}

            <tr style="border-top: 1px solid silver; border-bottom: 3px double silver;">
                <td style="padding-left: 0px !important; "><strong>Total</strong></td>
                <td style="padding-left: 0px !important; "><strong>{{ _("Anzahl Rechnungen", language) }}</strong></td>
                <td></td>
                <td style="padding-left: 0px !important; ">{{ doc.austria_dns|length }}</td>
                <td></td>
                <td style="text-align: right; "><strong>{{ "%0.2f" | format( vars.sum_net_totals | float) }}</strong></td>
                <td style="text-align: right; "><strong>{{ "%0.2f" | format( vars.sum_taxes | float) }}</strong></td>
                <td style="text-align: right; "><strong>{{ "%0.2f" | format( vars.sum_grand_totals | float) }}</strong></td>
            </tr>
        </table>
    {% endif %}

    <!-- loop through delivery notes austria -->
    {% set template = frappe.get_doc("Print Format", "Delivery Note Proforma Invoice Content").html %}

    {% for dn in doc.austria_dns %}
        <div class="page-break"></div> 
        {% set dn_doc = frappe.get_doc("Delivery Note", dn.delivery_note) %}
        {{ frappe.render_template(template, {'doc': dn_doc, 'letter_head': letter_head} ) }}
    {% endfor %}
{% endif %}

{% if part and part == "EU" %}
    <!-- overview eu -->
    <div class="page-break"></div> 

    <table style="width: 100%; height: 215px !important;">
        <tr>
            <td style="width: 54%; padding: 0px !important; padding-top:22px !important;">
                <u style="font-size: 10px !important;"></u><br/>
                <p style="font-size: 12px !important; line-height: 15px !important;"></p>
            </td>
            <td style="width: 46%; padding: 0px !important; padding-top:22px !important;">
                <u style="font-size: 10px !important; letter-spacing: -0.05em;">{{ letter_head.sender_address_line }}</u><br/>
                <p style="font-size: 12px !important; line-height: 15px !important;">Microsynth AG<br>Postfach 56<br>6961 Wolfurt<br>Österreich</p>
            </td>
        </tr>
    </table>

    <p id="subject"><strong>Sammelauszug EU {{ doc.name }}</strong></p>

    <table id="meta">
        <tr>
            <td style="width: 23%; "></td>
            <td style="width: 23%; "></td>
            <td style="width:  8%; "></td>
            <td style="width: 23%; "> {{ _("Date", language) }}:</td>
            <td style="width: 23%; ">{{ doc.get_formatted('date') }}</td>
        </tr>
    </table>
    <p><br></p> 

    {% if doc.eu_dns|length > 0 %}
        {% set vars = { 'sum_net_totals': 0, 'sum_taxes': 0, 'sum_grand_totals': 0  } %}
        <table  style="width: 100%; ">
            <tr style="border-bottom: 1px solid silver; font-size: 9px;">
                <td style="width: 5%; "><strong>Kunden ID</strong></td>
                <td style="width: 30%; "><strong>Adresse</strong></td>
                <td style="width: 5%; "><strong></strong></td>
                <td style="width: 15%; padding-left: 0px !important; "><strong>VAT ID</strong></td>
                <td style="width: 20%; padding-left: 0px !important; "><strong>Lieferung<br>Web Order ID</strong></td>
                <td style="width: 10%; text-align: right; "><strong>Warenwert<br>netto (€)</strong></td>
                <td style="width: 5%; text-align: right; "><strong>VAT (€)</strong></td>
                <td style="width: 10%; text-align: right; "><strong>Betrag brutto (€)</strong></td>
            </tr>
            {% for dn in doc.eu_dns %}
                {% set delivery_note = frappe.get_doc("Delivery Note", dn.delivery_note) %}
                {% set address = frappe.get_doc("Address", dn.shipping_address) %}
                {% set country = frappe.get_doc("Country", dn.country) %}
                {% if vars.update({'sum_net_totals': vars.sum_net_totals + dn.net_total }) %}{% endif %}
                {% if vars.update({'sum_taxes': vars.sum_taxes + dn.taxes }) %}{% endif %}
                {% if vars.update({'sum_grand_totals': vars.sum_grand_totals + dn.grand_total }) %}{% endif %}
                <tr style="border-bottom: 1px solid silver; font-size: 9px;">
                    <td style="padding-left: 8px !important; ">{{ dn.customer }}</td>
                    <td style="padding-left: 0px !important; ">{{ dn.customer_name }}<br>{{ address.pincode }} {{ address.city }}</td>
                    <td style="padding-left: 0px !important; ">{{ country.code.upper() }}</td>
                    <td style="padding-left: 0px !important; ">{{ dn.tax_id }}</td>
                    <td style="padding-left: 0px !important; ">{{ dn.delivery_note }}<br>{{ delivery_note.web_order_id }}</td>
                    <td style="text-align: right; ">{{ dn.get_formatted('net_total') }}</td>
                    <td style="text-align: right; ">{{ dn.get_formatted('taxes') }}</td>
                    <td style="text-align: right; ">{{ dn.get_formatted('grand_total') }}</td>
                </tr>
            {% endfor %}

            <tr style="border-top: 1px solid silver; border-bottom: 3px double silver;">
                <td style="padding-left: 0px !important; "><strong>Total</strong></td>
                <td style="padding-left: 0px !important; "><strong>{{ _("Anzahl Rechnungen", language) }}</strong></td>
                <td></td>
                <td style="padding-left: 0px !important; ">{{ doc.eu_dns|length }}</td>
                <td></td>
                <td style="text-align: right; "><strong>{{ "%0.2f" | format( vars.sum_net_totals | float) }}</strong></td>
                <td style="text-align: right; "><strong>{{ "%0.2f" | format( vars.sum_taxes | float) }}</strong></td>
                <td style="text-align: right; "><strong>{{ "%0.2f" | format( vars.sum_grand_totals | float) }}</strong></td>
            </tr>
        </table>
    {% endif %}

    <!-- loop through delivery notes eu -->
    {% for dn in doc.eu_dns %}
        <div class="page-break"></div> 
        {% set dn_doc = frappe.get_doc("Delivery Note", dn.delivery_note) %}
        {{ frappe.render_template(template, {'doc': dn_doc, 'letter_head': letter_head} ) }}
    {% endfor %}
{% endif %}

<!-- page footer -->
<div id="footer-html" class="visible-pdf">
    <table style="width: 100%; ">
        <tr>
            <td style="width: 80%; padding-left: 0px !important; ">{{ letter_head.footer }}</td>            
        </tr>
    </table>
</div>