<div style="margin: 5px; margin-top: 0px; border-top: 1px solid white; ">
    <div class="section-body">
        <div class="row">
            <div class="form-column col-sm-4">
                <label class="control-label" style="padding-right: 0px;">Warehouse</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-cube"></i></span>
                    <input type="text" class="form-control" placeholder="Warehouse" id="warehouse" readonly>
                </div>
                <label class="control-label" style="padding-right: 0px;">Process</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-users"></i></span>
                    <select class="form-control" placeholder="Process" id="processes" onchange="get_users_for_process(this)">
                    </select>
                </div>
                <label class="control-label" style="padding-right: 0px;">User</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <select class="form-control" placeholder="User" id="users" onchange="focus_on_scanner_input()">
                    </select>
                </div>
                <!-- Scanner Input -->
                <label class="control-label" style="padding-right: 0px;">Scan Item</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-barcode"></i></span>
                    <input type="text" class="form-control" placeholder="Scan Data Matrix Code" id="scanner_input" autofocus>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Item Table -->
<table class="table table-bordered" id="item_table" style="margin: 10px; width: 98%;">
    <thead>
        <tr>
            <th>Action</th>
            <th>Item</th>
            <th>Item Name</th>
            <th>Material Code</th>
            <th>Quantity</th>
            <th>Batch No</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<!-- Checkout Button -->
<div style="margin: 10px;">
    <button type="button" class="btn btn-primary" id="checkout_button">Check Out</button>
</div>
