<div style="margin: 5px; margin-top: 0px; border-top: 1px solid white; ">
    <div class="section-body">
        <div class="row">
            <div class="form-column col-sm-4">
                <label class="control-label" style="padding-right: 0px;">Process</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-users"></i></span>
                    <select class="form-control" placeholder="Process" id="processes" onchange="get_users_for_process(this)">
                    </select>
                </div>
                <label class="control-label" style="padding-right: 0px;">User</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <select class="form-control" placeholder="User" id="user">
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
