{# config the printer #}
#!A1
#IMS105/148
#N13
#ER

{# add sender address incl logo #}
#T4#J138#YG/0///C:\Logos\00_MIC_Logo_black.bmp#G
#T4#J130#YL0/0/0.5/95
{# additional line break #}
#T4#J133#YN101/0U/35///{{sender_header}}#G

{# ### receiver address ### #}
{%- for element in lines -%}
    {%- set print_start_position = 60-(lines.index(element)*5) -%}
#T{{print_start_position}}#J105#YN101/3U/45///{{element}}#G105
{# additional line break #}
{%- endfor -%}

{# postal service#}
{%- if shipping_service == "P.P.A" -%}
#T78#J54#YN101/3U/85///P.P. A#G
#T75#J54#YN101/3U/45///CH-9436 Balgach#G
#T71#J54#YN101/3U/45///POST CH AG#G
#T69#J22#YR0/0/0.5/15/33
{%- elif shipping_service == "Austria" -%}
#T73#J60#YG/3///C:\Logos\02_AT_Priority_black.bmp#G
{%- elif shipping_service != destination_country -%}
#T75#J53#YN101/3U/85///{{shipping_service}}#G
{%- endif -%}

{# additional line break #}
{%- if po_no is not none and po_no != "" -%}
    {# IMP, IMBA: Code 39 else Code 128 #}
    {%- if cstm_id in ["57022", "57023"] -%} 
#T90#J128 #YB7/3V/4/4///{{po_no}}
    {%- else -%} 
#T90#J120 #YB13/3V/4/4///{{po_no}}
    {%- endif -%}
{% endif %}
{# barcode with web order id #}
#T60#J15 #YB13/2OV/4/4///{{web_id}}
#T60#J10#YN101/2U/40///{{web_id}} - {{ oligo_count}}#G

{# additional line break #}
#Q1/
#!P1