{%- if contact -%}
    {%- set contact_doc = frappe.get_doc("Contact", contact) -%}
{%- endif -%}
{%- if address -%}
    {%- set address_doc = frappe.get_doc("Address", address) -%}
{%- endif -%}
{%- if customer -%}
    {%- set customer_doc = frappe.get_doc("Customer", customer) -%}
{%- endif -%}

{%- set lines = [] -%}
{%- if address_doc.overwrite_company -%}
    {%- if lines.append(address_doc.overwrite_company)-%}{%- endif -%}
{%- else -%}
    {%- if lines.append(customer_doc.customer_name) -%}{%- endif -%}
{%- endif -%}
{%- if contact -%}
    {%- if contact_doc.institute -%}{%- if lines.append(contact_doc.institute) -%}{%- endif -%}{%- endif -%}
    {%- if contact_doc.designation -%}{%- if lines.append(contact_doc.designation) -%}{%- endif -%}{%- endif -%}
    {%- if contact_doc.first_name and contact_doc.first_name != "-" and contact_doc.last_name -%}
        {%- if lines.append(contact_doc.first_name + " " + contact_doc.last_name ) -%}{%- endif -%}
    {%- elif contact_doc.first_name and contact_doc.first_name != "-" and not contact_doc.last_name -%}
        {%- if lines.append(contact_doc.first_name) -%}{%- endif -%}
    {%- elif contact_doc.last_name -%}
        {%- if lines.append(contact_doc.last_name) -%}{%- endif -%}
    {%- endif -%}
    {%- if contact_doc.department -%}{%- if lines.append(contact_doc.department ) -%}{%- endif -%}{%- endif -%}
    {%- if contact_doc.room -%}{%- if lines.append(contact_doc.room) -%}{%- endif -%}{%- endif -%}
{% endif %}
{%- if address -%}
    {%- if address_doc.address_line1 -%}{%- if lines.append(address_doc.address_line1) -%}{%- endif -%}{%- endif -%}
    {%- if address_doc.address_line2 -%}{%- if lines.append(address_doc.address_line2) -%}{%- endif -%}{%- endif -%}
    
    {%- if address.country in ['United Kingdom'] -%}
        {%- if address_doc.city and address_doc.pincode -%}{%- if lines.append(address_doc.city + " " + address_doc.pincode) -%}{%- endif -%}{% endif %}
    {%- else -%}
        {%- if address_doc.pincode and address_doc.city -%}{%- if lines.append(address_doc.pincode + " " + address_doc.city)-%}{%- endif -%} {% endif %}
    {%- endif -%}
    {%- if address_doc.country -%}{%- if lines.append(address_doc.country) -%}{%- endif -%}{%- endif -%}
{%- endif -%}

{#many empty list elements are added to #}
{%- for n in range(9) -%}
    {%- if lines.append("") -%}{%- endif -%}
{%- endfor -%}

{#
m m
J 
H 100
S 0,-2.5,145,150,105
O R
B 1, 1 , 0, DATAMATRIX, 0.3;     ACB123
B 10, 48, 0, CODE128, 8, 0.15;  grosse Buchstaben - grosse Wirkung
T 1,  7, 0, 3, pt 10;   {{lines[0]}}
T 1, 10, 0, 3 ,pt 10;   {{lines[1]}}
T 1, 13, 0, 3, pt 10;   {{lines[2]}}
T 1, 16, 0, 3, pt 10;   {{lines[3]}}
T 1, 19, 0, 3, pt 10;   {{lines[4]}}
T 1, 21, 0, 3, pt 10;   {{lines[5]}}
T 1, 24, 0, 3, pt 10;   {{lines[6]}}
T 1, 27, 0, 3, pt 10;   {{lines[7]}}
T 1, 30, 0, 3, pt 10;   {{lines[8]}}
T 1, 33, 0, 3, pt 10;   {{lines[9]}}
T 1, 36, 0, 3, pt 10;   {{lines[10]}}
T 1, 39, 0, 3, pt 10;   {{lines[11]}}
A 1
#}

