{#- load images on printer -#}
;### load Microsynth logo ###
;M l IMG;01_MIC_Logo_Swiss_black
M l IMG;00_MIC_Logo_black
{# config the printer #}
m m
J 
H 100
S 0,-2.5,145,150,105
O R
{# add sender address, logo, separation bar #}
; ### add sender address, logo, separation bar ###
I 100,137,180,2,2;00_MIC_Logo_black
T 100,125,180,3,pt 8;{{sender_header}}
{# separate sender address #}
G 5,122,0;L:95,0.5,r,r
{# receiver address #}
; ### customer address ###
{# additional line break #}
{%- for element in lines -%}
    {%- set print_start_position = 45+(lines.index(element)*5) -%}
T {{print_start_position}}, 100, 90, 3, pt 10;{{element}}
{#comment for linebreak#}
{%- endfor -%}
{# postal #}
; ### postal service ###
{% if shipping_service == "A-POST" -%}
T 26,49,90,3,pt 20;P.P. A
T 29,49,90,3,pt 10;CH-9436 Balgach
T 33,49,90,3,pt 10;POST CH AG
G 20,50,90;R:30,15,0.3,0.3
{%- else -%}
T 23,49,90,3,pt 10;{{destination_country}}
T 29,49,90,3,pt 20;{{shipping_service}}
{% endif %}

;### print date and time during development ###
;T 10,5,0,3,pt 10;[DATE]-[TIME]-dynamic ERP-Template Brady
;T 70,5,0,3,pt 24;T#1
A 1
{# additional line break #}
