{%- set basics_sender_network_id 	= basics['sender_network_id'] -%}
{%- set basics_receiver_network_id 	= basics['receiver_network_id'] -%}
{%- set basics_shared_secret 		= basics['shared_secret'] -%}
{%- set basics_order_id 			= basics['order_id'] -%}
{%- set basics_currency 			= basics['currency'] -%}
{%- set basics_invoice_id 			= basics['invoice_id'] -%}
{%- set basics_invoice_date 		= basics['invoice_date'] -%}
{%- set remitTo_name 				= remitTo['name'] -%}
{%- set remitTo_street 				= remitTo['street'] -%}
{%- set remitTo_zip 				= remitTo['zip'] -%}
{%- set remitTo_town 				= remitTo['town'] -%}
{%- set remitTo_iso_country_code 	= remitTo['iso_country_code'] -%}
{%- set remitTo_supplier_tax_id 	= remitTo['supplier_tax_id'] -%}
{%- set billTo_address_id 			= billTo['address_id'] -%}
{%- set billTo_name 				= billTo['name'] -%}
{%- set billTo_street 				= billTo['street'] -%}
{%- set billTo_zip 					= billTo['zip'] -%}
{%- set billTo_town 				= billTo['town'] -%}
{%- set billTo_iso_country_code 	= billTo['iso_country_code'] -%}
{%- set from_name 					= from['name'] -%}
{%- set from_street 				= from['street'] -%}
{%- set from_zip 					= from['zip'] -%}
{%- set from_town 					= from['town'] -%}
{%- set from_iso_country_code 		= from['iso_country_code'] -%}
{%- set soldTo_address_id 			= soldTo['address_id'] -%}
{%- set soldTo_name 				= soldTo['name'] -%}
{%- set soldTo_street 				= soldTo['street'] -%}
{%- set soldTo_zip 					= soldTo['zip'] -%}
{%- set soldTo_town 				= soldTo['town'] -%}
{%- set soldTo_iso_country_code 	= soldTo['iso_country_code'] -%}
{%- set shipFrom_name 				= shipFrom['name'] -%}
{%- set shipFrom_street 			= shipFrom['street'] -%}
{%- set shipFrom_zip 				= shipFrom['zip'] -%}
{%- set shipFrom_town 				= shipFrom['town'] -%}
{%- set shipFrom_iso_country_code 	= shipFrom['iso_country_code'] -%}
{%- set shipTo_address_id 			= shipTo['address_id'] -%}
{%- set shipTo_name 				= shipTo['name'] -%}
{%- set shipTo_street 				= shipTo['street'] -%}
{%- set shipTo_zip 					= shipTo['zip'] -%}
{%- set shipTo_town 				= shipTo['town'] -%}
{%- set shipTo_iso_country_code 	= shipTo['iso_country_code'] -%}
{%- set receivingBank_swift_id 		= receivingBank['swift_id'] -%}
{%- set receivingBank_iban_id  		= receivingBank['iban_id'] -%}
{%- set receivingBank_account_name 	= receivingBank['account_name'] -%}
{%- set receivingBank_account_id 	= receivingBank['account_id'] -%}
{%- set receivingBank_account_type 	= receivingBank['account_type'] -%}
{%- set receivingBank_branch_name 	= receivingBank['branch_name'] -%}
{%- set extrinsic_buyerVatID 		= extrinsic['buyerVatID'] -%}
{%- set extrinsic_supplierVatID  	= extrinsic['supplierVatID '] -%}
{%- set extrinsic_supplierCommercialIdentifier = extrinsic['supplierCommercialIdentifier'] -%}
{%- set tax_amount 					= tax['amount'] -%}
{%- set tax_taxable_amount 			= tax['taxable_amount'] -%}
{%- set tax_percent 				= tax['percent'] -%}
{%- set tax_taxPointDate 			= tax['taxPointDate'] -%}
{%- set tax_description 			= tax['description'] -%}
{%- set shippingTax_taxable_amount 	= shippingTax['taxable_amount'] -%}
{%- set shippingTax_amount 			= shippingTax['amount'] -%}
{%- set shippingTax_percent 		= shippingTax['percent'] -%}
{%- set shippingTax_taxPointDate 	= shippingTax['taxPointDate'] -%}
{%- set shippingTax_description 	= shippingTax['description'] -%}
{%- set summary_subtotal_amount 	= summary['subtotal_amount'] -%}
{%- set summary_shipping_amount 	= summary['shipping_amount'] -%}
{%- set summary_gross_amount 		= summary['gross_amount'] -%}
{%- set summary_total_amount_without_tax = summary['total_amount_without_tax'] -%}
{%- set summary_net_amount 			= summary['net_amount'] -%}
{%- set summary_due_amount 			= summary['due_amount'] -%}

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE cXML SYSTEM "http://xml.cxml.org/schemas/cXML/1.2.028/InvoiceDetail.dtd">
<cXML payloadID = "2022112416482799-20221124164827995015484@192.0.0.140" timestamp = "2022-11-24T16:48:27+01:00" version = "1.2.028">
	<Header>
		<From>
			<Credential domain = "NetworkID">
				<Identity>{{basics_sender_network_id}}</Identity>
			</Credential>
		</From>
		<To>
			<Credential domain = "NetworkID">
				<Identity>{{basics_receiver_network_id}}</Identity>
			</Credential>
		</To>
		<Sender>
			<Credential domain = "NetworkID">
				<Identity>{{basics_sender_network_id}}</Identity>
				<SharedSecret>{{basics_shared_secret}}</SharedSecret>
			</Credential>
			<UserAgent>Supplier</UserAgent>
		</Sender>
	</Header>
	<Request Id = "cXMLData" deploymentMode = "production">
		<InvoiceDetailRequest>
			<InvoiceDetailRequestHeader invoiceDate = "{{basics_invoice_date}}T00:00:00+01:00" invoiceID = "{{basics_invoice_id}}" invoiceOrigin = "supplier" operation = "new" purpose = "standard">
				<InvoiceDetailHeaderIndicator/>
				<InvoiceDetailLineIndicator isTaxInLine = "yes"/>
				<InvoicePartner>
					<Contact addressID="99999" role="remitTo">
						<Name xml:lang="de-CH">{{remitTo_name}}</Name>
						<PostalAddress>
							<Street>{{remitTo_street}}</Street>
							<City>{{remitTo_town}}</City>
							<PostalCode>{{remitTo_zip}}</PostalCode>
							<Country isoCountryCode="{{remitTo_iso_country_code}}"/>
						</PostalAddress>
					</Contact>
					<IdReference domain="supplierTaxID" identifier="{{remitTo_supplier_tax_id}}"/>
				</InvoicePartner>
				<InvoicePartner>
					<Contact addressID="{{billTo_address_id}}" role="billTo">
 						<Name xml:lang="de-CH">{{billTo_name}}</Name>
  						<PostalAddress>
							<Street></Street>
							<City>{{billTo_town}}</City>
							<PostalCode>{{billTo_zip}}</PostalCode>
							<Country isoCountryCode="{{billTo_iso_country_code}}"/>
						</PostalAddress>
					</Contact>
				</InvoicePartner>
				<InvoicePartner>
					<Contact role="from">
						<Name xml:lang="de-CH">{{from_name}}</Name>
						<PostalAddress>
							<Street>{{from_street}}</Street>
							<City>{{from_town}}</City>
							<PostalCode>{{from_zip}}</PostalCode>
							<Country isoCountryCode="{{from_iso_country_code}}"/>
						</PostalAddress>
					</Contact>
				</InvoicePartner>
				<InvoicePartner>
					<Contact addressID="{{soldTo_address_id}}" role="soldTo">
						<Name xml:lang="de-CH">{{soldTo_name}}</Name>
						<PostalAddress>
							<Street>{{soldTo_street}}</Street>
							<City>{{soldTo_town}}</City>
							<PostalCode>{{soldTo_zip}}</PostalCode>
							<Country isoCountryCode="{{soldTo_iso_country_code}}"/>
						</PostalAddress>
					</Contact>
				</InvoicePartner>
				<InvoicePartner>
					<Contact role="wireReceivingBank">
						<Name xml:lang="de-CH"></Name>
					</Contact>
					<IdReference domain="swiftID" identifier="{{receivingBank_swift_id}}"/>
					<IdReference domain="ibanID" identifier="{{receivingBank_iban_id}}"/>
					<IdReference domain="accountName" identifier="{{receivingBank_account_name}}"/>
					<IdReference domain="accountID" identifier="{{receivingBank_account_id}}"/>
					<IdReference domain="accountType" identifier="{{receivingBank_account_type}}"/>
					<IdReference domain="branchName" identifier="{{receivingBank_branch_name}}"/>
				</InvoicePartner>
				<InvoiceDetailShipping>
					<Contact role="shipFrom">
						<Name xml:lang="de-CH">{{shipFrom_name}}</Name>
						<PostalAddress>
							<Street>{{shipFrom_street}}</Street>
							<City>{{shipFrom_town}}</City>
							<PostalCode>{{shipFrom_zip}}</PostalCode>
							<Country isoCountryCode="{{shipFrom_iso_country_code}}"/>
						</PostalAddress>
					</Contact>
					<Contact addressID="{{shipTo_address_id}}" role="shipTo">
						<Name xml:lang="de-CH">{{shipTo_name}}</Name>
						<PostalAddress>
							<DeliverTo></DeliverTo>
							<Street>{{shipTo_street}}</Street>
							<City>{{shipTo_town}}</City>
							<State/>
							<PostalCode>{{shipTo_zip}}</PostalCode>
							<Country isoCountryCode="{{shipTo_iso_country_code}}"/>
						</PostalAddress>
					</Contact>
				</InvoiceDetailShipping>
 				<PaymentTerm payInNumberOfDays="45"></PaymentTerm>
				<Comments></Comments>
				<Extrinsic name="buyerVatID">{{extrinsic_buyerVatID}}</Extrinsic>
				<Extrinsic name="supplierVatID">{{extrinsic_supplierVatID}}</Extrinsic>
 				<Extrinsic name="invoiceSourceDocument">PurchaseOrder</Extrinsic>
				<Extrinsic name="invoiceSubmissionMethod">cXML</Extrinsic>
				<Extrinsic name="paymentMethod">wire</Extrinsic>
				<Extrinsic name="supplierCommercialIdentifier">{{extrinsic_supplierCommercialIdentifier}}</Extrinsic>
			</InvoiceDetailRequestHeader>
			<InvoiceDetailOrder>
				<InvoiceDetailOrderInfo>
					<OrderReference orderID="{{basics_order_id}}">
						<DocumentReference payloadID=""/>
					</OrderReference>
				</InvoiceDetailOrderInfo>
{% for item in items %}
{%- set item_invoiceLineNumber 		= item['invoiceLineNumber'] -%}
{%- set item_quantity 				= item['quantity'] -%}
{%- set item_unit_of_measure 		= item['unit_of_measure'] -%}
{%- set item_unit_price 			= item['unit_price'] -%}
{%- set item_supplier_part_id		= item['supplier_part_id'] -%}
{%- set item_description 			= item['description'] -%}
{%- set item_subtotal_amount 		= item['subtotal_amount'] -%}
{%- set item_tax_amount 			= item['tax_amount'] -%}
{%- set item_tax_rate 				= item['tax_rate'] -%}
{%- set item_tax_taxable_amount 	= item['tax_taxable_amount'] -%}
{%- set item_tax_description 		= item['tax_description'] -%}
{%- set item_gross_amount 			= item['gross_amount'] -%}
{%- set item_net_amount 			= item['net_amount'] -%}
{#additional line break#}
				<InvoiceDetailItem invoiceLineNumber="{{item_invoiceLineNumber}}" quantity = "{{item_quantity}}">
					<UnitOfMeasure>{{item_unit_of_measure}}</UnitOfMeasure>
					<UnitPrice>
						<Money currency="{{basics_currency}}">{{item_unit_price}}</Money>
					</UnitPrice>
					<InvoiceDetailItemReference lineNumber="{{item_invoiceLineNumber}}">
						<ItemID>
							<SupplierPartID>{{item_supplier_part_id}}</SupplierPartID>
						</ItemID>
						<Description xml:lang="de-CH">{{item_description}}</Description>
					</InvoiceDetailItemReference>
					<SubtotalAmount>
						<Money currency="{{basics_currency}}">{{item_subtotal_amount}}</Money>
					</SubtotalAmount>
					<Tax>
						<Money currency="{{basics_currency}}">{{item_tax_amount}}</Money>
						<Description xml:lang="de-CH"/>
						<TaxDetail category="vat" percentageRate="{{item_tax_rate}}" taxPointDate="{{tax_taxPointDate}}" exemptDetail="exempt">
							<TaxableAmount>
								<Money currency="{{basics_currency}}">{{item_tax_taxable_amount}}</Money>
							</TaxableAmount>
							<TaxAmount>
								<Money currency="{{basics_currency}}">{{item_tax_amount}}</Money>
							</TaxAmount>
							<Description xml:lang="en">{{item_tax_description}}</Description>
						</TaxDetail>
					</Tax>
					<GrossAmount>
						<Money currency="{{basics_currency}}">{{item_gross_amount}}</Money>
					</GrossAmount>
					<NetAmount>
						<Money currency="{{basics_currency}}">{{item_net_amount}}</Money>
					</NetAmount>
				</InvoiceDetailItem>
{%- endfor %}
 			</InvoiceDetailOrder>
			<InvoiceDetailSummary>
				<SubtotalAmount>
					<Money currency="{{basics_currency}}">{{summary_subtotal_amount}}</Money>
				</SubtotalAmount>
				<Tax>
					<Money currency="{{basics_currency}}">{{tax_amount}}</Money>
					<Description xml:lang="de-CH"/>
					<TaxDetail category="vat" percentageRate = "{{tax_percent}}" taxPointDate = "{{tax_taxPointDate}}">
						<TaxableAmount>
							<Money currency = "{{basics_currency}}">{{tax_taxable_amount}}</Money>
						</TaxableAmount>
						<TaxAmount>
							<Money currency = "{{basics_currency}}">{{tax_amount}}</Money>
						</TaxAmount>
						<Description xml:lang = "en">{{tax_description}}</Description>
					</TaxDetail>
					<TaxDetail category="vat" percentageRate="{{shippingTax_percent}}" taxPointDate = "{{shippingTax_taxPointDate}}" exemptDetail="exempt"  purpose="shippingTax">
						<TaxableAmount>
							<Money currency="{{basics_currency}}">{{shippingTax_taxable_amount}}</Money>
						</TaxableAmount>
						<TaxAmount>
							<Money currency="{{basics_currency}}">{{shippingTax_amount}}</Money>
						</TaxAmount>
					<Description xml:lang="en">{{shippingTax_description}}</Description>
					</TaxDetail>
				</Tax>
				<ShippingAmount>
					<Money currency = "{{basics_currency}}">{{summary_shipping_amount}}</Money>
				</ShippingAmount>
				<GrossAmount>
					<Money currency="{{basics_currency}}">{{summary_gross_amount}}</Money>
				</GrossAmount>
				<TotalAmountWithoutTax>
					<Money currency="{{basics_currency}}">{{summary_total_amount_without_tax}}</Money>
				</TotalAmountWithoutTax>
				<NetAmount>
					<Money currency="{{basics_currency}}">{{summary_net_amount}}</Money>
				</NetAmount>
				<DueAmount>
					<Money currency="{{basics_currency}}">{{summary_due_amount}}</Money>
				</DueAmount>
			</InvoiceDetailSummary>
		</InvoiceDetailRequest>
	</Request>
</cXML>
