#!A1
#IMS30/22   {# label size: 30 x 22 mm #}
#N13
#ER

{# Line 1: Receipt date / initials: username #}
#T1.4#J19.7#YN101//28///Receipt date / initials: {{ row.username }}#G

{# Line 2: current date #}
#T1.4#J17#YN101//35///{{ frappe.utils.formatdate(frappe.utils.nowdate(), 'dd.MM.yyyy') }}#G

{# Line 3: shelf life date #}
#T1.4#J14.2#YN101//35///Shelf life: {{ frappe.utils.formatdate(row.shelf_life_date, 'dd.MM.yyyy') }}#G

{# Line 4: material_code, 2D barcode + internal_code #}
#T1.4#J9#YN101//50///{{ row.material_code }}#G
{%- if row.internal_code %}
#T13#J13.8#IDM/3R12S12/6///{{ row.internal_code }}
#T20#J9#YN101//50///{{ row.internal_code }}
{%- endif %}

{# Line 5: Opening date / initials: #}
#T1.4#J5.8#YN101//28///Opening date / initials:#G

{# Line 6: empty line #}

#Q1/
#!P1
