#!A1
#IMS30/22   {# label size: 30 x 22 mm #}
#N13
#ER

{# Line 1: Receipt date / initials #}
#T1.2#J19.5#YN101//28///Receipt: {{ frappe.utils.formatdate(frappe.utils.nowdate(), 'dd.MM.yyyy') }} {{ row.username }}#G

{# Line 2: shelf life #}
{%- if row.shelf_life_date %}
#T1.2#J16.5#YN101//34///Shelf life: {{ frappe.utils.formatdate(row.shelf_life_date, 'dd.MM.yyyy') }}#G
{% else %}
#T1.2#J16.5#YN101//34///Shelf life: on product#G
{%- endif %}

{# Line 3: material_code, data matrix + internal_code #}
{%- if row.material_code %}
#T1.2#J13#YN101//42///{{ row.material_code }}#G
{%- endif %}

{%- if row.internal_code %}
#T1.2#J9.4#YN101//42///{{ row.internal_code }}
{% else %}
#T1.2#J9.4#YN101//42///{{ row.item_code }}
{%- endif %}

{% if row.batch_no and row.serial_no %}
#T15.4#J10#IDM/0R16S36/4///{{ row.item_code }}:{{ row.batch_no }}:{{ row.serial_no }}
{% elif row.batch_no %}
#T15.4#J10#IDM/0R16S36/4///{{ row.item_code }}:{{ row.batch_no }}
{% else %}
#T15.4#J10#IDM/0R16S36/4///{{ row.item_code }}
{%- endif %}

{# Line 4: Opening date / initials: #}
#T1.2#J6.7#YN101//28///Opening date / initials:#G

{# Line 5: empty line #}

#Q1/
#!P1
