#!A1
#IMS22/30   {# label size: 22 x 30 mm #}
#N13
#ER

{# Line 1: smaller font, Receipt date / initials: username #}
#T28#J10#YN101/2U/40///Receipt date / initials: {{ row.username }}#G

{# Line 2: larger font, current date #}
#T24#J15#YN101/2U/50///{{ frappe.utils.formatdate(frappe.utils.nowdate(), 'dd.MM.yyyy') }}#G

{# Line 3: larger font, shelf life date #}
#T20#J15#YN101/2U/50///Shelf life: {{ frappe.utils.formatdate(row.shelf_life_date, 'dd.MM.yyyy') }}#G

{# Line 4: larger font, material_code, 2D barcode + internal_code #}
#T16#J15#YN101/2U/50///{{ row.material_code }}#G
{%- if row.internal_code %}
  #T16#J10 #IDM/3R12S12/6///{{ row.internal_code }}
  #T13#J15#YN101/2U/50///{{ row.internal_code }}  {# internal code text #}
{%- endif %}

{# Line 5: smaller font, fixed text #}
#T9#J10#YN101/2U/40///Opening date / initials:#G

{# Line 6: empty line #}
#T6#J10#YN101/2U/40/// #G

#Q1/
#!P1
