                        <Address>
                            <CompanyName>{{ address['name'] }}</CompanyName>
                            {%- if address['company_division'] -%}
                            {# comment for indenting #}
                            <CompanyDivision>{{ address['company_division'] }}</CompanyDivision>
                            {%- endif -%}
                            {# comment for indenting #}
                            {%- if address['last_name'] -%}
                            {# comment for indenting #}
                            <FamilyName>{{ address['last_name'] }}</FamilyName>
                            {%- endif -%}
                            {# comment for indenting #}
                            {%- if address['first_name'] -%}
                            {# comment for indenting #}
                            <GivenName>{{ address['first_name'] }}</GivenName>
                            {%- endif -%}
                            {# comment for indenting #}
                            <Address1>{{ address['street1'] }}</Address1>
                            {%- if address['street2'] -%}
                            {# comment for indenting #}
                            <Address2>{{ address['street2'] }}</Address2>
                            {%- endif -%}
                            {# comment for indenting #}
                            <ZIP>{{ address['pin'] }}</ZIP>
                            <City>{{ address['city'] }}</City>
                            <Country>{{ address['country_code'] }}</Country>
                            <Contact1></Contact1>
                            <Contact2></Contact2>
                        </Address>