<?xml version="1.0" encoding="utf-8"?>
<Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" type="string" xsi:noNamespaceSchemaLocation="file://Hpcf08/billing$/04%20Dokumentationen/10%20Technische%20Schemas/06%20yellowbill%20Invoice%202.0.4/01%20Biller%20Input/01%20XSD-Scheme/ybInvoice_V2.0.4.xsd">
    <Header>
        <From>Microsynth AG</From>
        <To>IPECeBILLServer</To>
        <UseCase>CreateybInvoice</UseCase>
        <SessionID>1</SessionID>
        <Version>2.0</Version>
        <Status>0</Status>
        <SoftwareName>ERPNext / libracore business software</SoftwareName>
        <SoftwareVersion>1.0</SoftwareVersion>
    </Header>
    <Body>
        <DeliveryInfo>
            <BillerID>{{ basics['paynet_sender_pid'] }}</BillerID>
            <eBillAccountID>{{ basics['receiver_network_id'] }}</eBillAccountID>
            <DeliveryID/>
            <DeliveryDate>{{ basics['invoice_date_only'] }}</DeliveryDate>
            <TransactionID>{{ basics['transaction_id'] }}</TransactionID>
            <BillDetailsType>PDFSystem</BillDetailsType>
            <URLBillDetails/>
        </DeliveryInfo>
        <Bill>
            <Header>
                <DocumentType>BILL</DocumentType>
                <DocumentSubType>final</DocumentSubType>
                <DocumentID>{{ basics['invoice_id'] }}</DocumentID>
                {%- if yellowbill['has_referenced_positions'] == false -%}
                {# comment for indenting #}
                <DocumentReference>
                    <ReferencePosition>0</ReferencePosition>
                    <ReferenceType>ORDNUM</ReferenceType>{# ORDNUM is specific for UZH #}
                    <ReferenceValue>{{ basics['order_id'] }}</ReferenceValue>
                </DocumentReference>
                {%- endif -%}
                {# comment for indenting #}
                <DocumentDate>{{ basics['invoice_date_only'] }}</DocumentDate>
                <SenderParty>
                    <Network>
                        <NetworkName>PostFinance</NetworkName>
                        <NetworkID>{{ basics['paynet_sender_pid'] }}</NetworkID>
                    </Network>
                    <TaxLiability>VAT</TaxLiability>
                    <PartyType>
                        <CustomerID>{{ basics['supplier_id'] }}</CustomerID>
{{ frappe.render_template("microsynth/templates/includes/yellowbill_address.html", {'address': from['address'] }) }}
                        <TaxID>{{ from['supplier_tax_id'] }}</TaxID>
                    </PartyType>
                </SenderParty>
                <ReceiverParty>
                    <Network>
                        <NetworkName>PostFinance</NetworkName>
                        <NetworkID>{{ basics['receiver_network_id'] }}</NetworkID>
                    </Network>
                    <PartyType>
                        <CustomerID>{{ basics['customer_id'] }}</CustomerID>
{{ frappe.render_template("microsynth/templates/includes/yellowbill_address.html", {'address': billTo['address'] }) }}
                    </PartyType>
                </ReceiverParty>
                <InvoiceReceivingParty>
{{ frappe.render_template("microsynth/templates/includes/yellowbill_address.html", {'address': billTo['address'] }) }}
                </InvoiceReceivingParty>
                <DeliveryPlace>
{{ frappe.render_template("microsynth/templates/includes/yellowbill_address.html", {'address': shipTo['address'] }) }}
                </DeliveryPlace>
                <AchievementDate>
                    <StartDateAchievement>{{ basics['invoice_date_only'] }}</StartDateAchievement>
                    <EndDateAchievement>{{ basics['invoice_date_only'] }}</EndDateAchievement>
                </AchievementDate>
                <Currency>{{ basics['currency'] }}</Currency>
                <AccountAssignment>
                    {%- if yellowbill['has_referenced_positions'] == true-%}
                    {# comment for indenting #}
                    <OrderReference>
                        <ReferencePosition>0</ReferencePosition>
                        <ReferenceType>OrderReference</ReferenceType>
                        <ReferenceValue>{{ basics['order_id'] }}</ReferenceValue>
                    </OrderReference>
                    <OrderPosition>0</OrderPosition>
                    {%- endif -%}
                    {# comment for indenting #}
                </AccountAssignment>
                <FixedReference>
                    <ReferencePosition>0</ReferencePosition>
                    <ReferenceType>OrderNumberByBuyer</ReferenceType>
                    <ReferenceValue>{{ basics['order_id'] }}</ReferenceValue>
                </FixedReference>
                <FixedReference>
                    <ReferencePosition>0</ReferencePosition>
                    <ReferenceType>OrderNumberBySupplier</ReferenceType>
                    <ReferenceValue>{{ basics['sales_order_id']}}</ReferenceValue>
                </FixedReference>
                <FixedReference>
                    <ReferencePosition>0</ReferencePosition>
                    <ReferenceType>DeliveryNoteNumber</ReferenceType>
                    <ReferenceValue>{{ basics['delivery_note_id'] }}</ReferenceValue>
                </FixedReference>
                <Language>de</Language>
                <PaymentInformation>
                    <PaymentDueDate>{{ basics['due_date'] }}</PaymentDueDate>
                    <PaymentType>IBAN</PaymentType>
                    <fixAmount>Yes</fixAmount>
                    <IBAN>
                        <IBAN>{{ receivingBank['iban_id'] }}</IBAN>
                        <CreditorReference>{{ basics['invoice_id'] }}</CreditorReference>
                    </IBAN>
                </PaymentInformation>
            </Header>
            <LineItems>

{%- for pos in positions -%}
        {# Positions - comment for indenting #}
                <LineItem>
                    <LineItemType>NORMAL</LineItemType>
                    <LineItemID>{{ pos['number'] }}</LineItemID>
                    <AchievementDate>
                        <StartDateAchievement>{{ basics['invoice_date_only'] }}</StartDateAchievement>
                        <EndDateAchievement>{{ basics['invoice_date_only'] }}</EndDateAchievement>
                    </AchievementDate>
                    <ProductDescription>{{ pos['description'] }}</ProductDescription>
                    <ProductID>{{ pos['item'] }}</ProductID>
                    <Quantity>{{ pos['quantity'] }}</Quantity>
                    <QuantityDescription>{{ pos['uom'] }}</QuantityDescription>
                    <PriceUnit>1</PriceUnit>
                    <PriceExclusiveTax>{{ "{:.2f}".format(pos['rate']) }}</PriceExclusiveTax>
                    <Tax>
                        <TaxDetail>
                            <Rate>{{ tax['percent'] }}</Rate>
                            <Amount>{{ "{:.4f}".format(pos['tax_amount']) }}</Amount>
                            <BaseAmountExclusiveTax>{{ "{:.2f}".format(pos['amount']) }}</BaseAmountExclusiveTax>
                        </TaxDetail>
                        <TotalTax>{{ "{:.4f}".format(pos['tax_amount']) }}</TotalTax>
                    </Tax>
                    <AmountInclusiveTax>{{ "{:.2f}".format(pos['amount'] + pos['tax_amount']) }}</AmountInclusiveTax>
                    <AmountExclusiveTax>{{ "{:.2f}".format(pos['amount']) }}</AmountExclusiveTax>
                    <AccountAssignment>
                        {%- if yellowbill['has_referenced_positions'] == true-%}
                        {# comment for indenting #}
                        <OrderReference>
                            <ReferencePosition>{{ pos['number'] }}</ReferencePosition>
                            <ReferenceType>OrderReference</ReferenceType>
                            <ReferenceValue>{{ basics['order_id'] }}</ReferenceValue>
                        </OrderReference>
                        <OrderPosition>{{ pos['number'] }}</OrderPosition>
                        {%- endif -%}
                        {# comment for indenting #}
                    </AccountAssignment>
                </LineItem>
{%- endfor %}
            </LineItems>
            <Summary>
                <Tax>
                    <TaxDetail>
                        <Rate>{{ tax['percent'] }}</Rate>
                        <Amount>{{ "{:.2f}".format(tax['amount']) }}</Amount>
                        <BaseAmountExclusiveTax>{{ "{:.2f}".format(tax['taxable_amount']) }}</BaseAmountExclusiveTax>
                    </TaxDetail>
                    <TotalTax>{{ "{:.2f}".format(tax['amount']) }}</TotalTax>
                </Tax>
                <TotalAmountExclusiveTax>{{ "{:.2f}".format(summary['total_amount_without_tax']) }}</TotalAmountExclusiveTax>
                <TotalAmountInclusiveTax>{{ "{:.2f}".format(summary['net_amount']) }}</TotalAmountInclusiveTax>
                {# Do not complete the <TotalAmountPaid> with prepayments from customer credits (Sales Invoice.discount_amount) because yellowbill expects the TotalAmountPaid to include taxes which is not the case #}
                <TotalAmountDue>{{ "{:.2f}".format(summary['due_amount']) }}</TotalAmountDue>
            </Summary>
        </Bill>
    </Body>
</Envelope>
