<div class="row">
    <div class="col-xs-6">
        <h6>{{ _("Documents") }}</h6>
        {% if files %}
            {% for f in files %}
                <a href="{{ f.file_url }}" target="_blank">
                    {% if f.file_name[-3:] in ["pdf", "PDF"] %}
                        <i class="fa fa-file-pdf-o"></i>
                    {% else %}
                        <i class="fa fa-file-text"></i>
                    {% endif %}
                    {{ f.file_name }}
                </a><br>
            {% endfor %}
        {% endif %}
    </div>

    <div class="col-xs-6">
        {% if docs_linking_to_this %}
            <h6>{{ _("Valid documents that link here") }}</h6>
            {% for d in docs_linking_to_this %}
                <a href="/desk#Form/QM Document/{{ d.document }}">
                    <i class="fa fa-chain"></i>
                    {{ d.document.split("-")[0] }}
                </a><br>
            {% endfor %}
        {% endif %}
    </div>

    <div class="col-xs-6">
        {% if relating_docs %}
            <h6>{{ _("Related documents") }}</h6>
            {% for d in relating_docs %}
                <a href="/desk#Form/QM Document/{{ d }}">
                    <i class="fa fa-chain"></i>
                    {{ d.split("-")[0] }}
                </a><br>
            {% endfor %}
        {% endif %}
    </div>

    <div class="col-xs-6">
        {% if trained %}
            <h6>{{ _("Trained") }}</h6>
            {% for t in trained %}
                <i class="fa fa-user"></i>
                    {{ t.full_name }}
                </a><br>
            {% endfor %}
        {% endif %}
    </div>
</div>
