<div class="row">
    <div class="col-xs-6">
        <h6>{{ _("Documents") }}</h6>
        {% if files %}
            {% for f in files %}
                <a href="{{ f.file_url }}">
                    {% if f.file_name[-3:] in ["pdf", "PDF"] %}
                        <i class="fa fa-file-pdf-o"></i>
                    {% else %}
                        <i class="fa fa-file-text"></i>
                    {% endif %}
                    {{ f.file_name }}
                </a><br>
            {% endfor %}
        {% endif %}
    </div>
    
    <div class="col-xs-6">
        {% if docs_linking_to_this %}
            <h6>{{ _("Document that link here") }}</h6>
            {% for d in docs_linking_to_this %}
                <a href="/desk#Form/QM Document/{{ d.document }}">
                    <i class="fa fa-chain"></i>
                    {{ d.document }}
                </a><br>
            {% endfor %}
        {% endif %}
    </div>
    
    <div class="col-xs-6">
        {% if doc.linked_documents %}
            <h6>{{ _("Related documents") }}</h6>
            {% for d in doc.linked_documents %}
                <a href="/desk#Form/QM Document/{{ d.qm_document }}">
                    <i class="fa fa-chain"></i>
                    {{ d.qm_document }}
                </a><br>
            {% endfor %}
        {% endif %}
    </div>
    
    <div class="col-xs-6">
        {% if trained %}
            <h6>{{ _("Trained") }}</h6>
            {% for t in trained %}
                <i class="fa fa-user"></i>
                    {{ t.full_name }}
                </a><br>
            {% endfor %}
        {% endif %}
    </div>
</div>
