<table class="table" id="row_{{ name }}">
    <thead class="thead-light">
        <tr>
            <th scope="col" style="width: 19%;">{{ _("Purchase Invoice") }}</th>
            <th scope="col" style="width: 29%;"><span class="text-muted pull-right">{{ company }}</span></th>
            <th scope="col" style="width: 52%;">{{ _("Attachments & Decisions") }}</th>
        </tr>
    </thead>
        <tr>
            <td>{{ _("Document") }}</td>
            <td><a href="/desk#Form/Purchase Invoice/{{ name }}">{{ name }}</a></td>
            <td rowspan=12>
                {% for a in attachments %}
                <iframe class="pdf" src="{{ a.file_url }}"></iframe>
                {% endfor %}
                <button type="submit" class="btn btn-sm btn-danger" id="btn_reject_{{ name }}">{{ _("Reject") }}</button>
                <button type="submit" class="btn btn-sm btn-primary" id="btn_reassign_{{ name }}">{{ _("Reassign") }}</button>
                <button type="submit" class="btn btn-sm btn-success" id="btn_approve_{{ name }}" data-pinv="{{ name }}">{{ _("Approve") }}</button>
        </td>
        {% if has_available_advances %}
            <tr>
                <td>{{ _("Advances") }}</td>
                <td>{{ _("There are advances available. Please consider to apply up to two of them in the form view, section Advance Payments, button Get Advances Paid.") }}</td>
            </tr>
        {% endif %}
        <tr>
            <td>{{ _("Supplier") }}</td>
            <td>
                <a href="/desk#Form/Supplier/{{ supplier }}">{{ supplier_name }}</a>
            </td>
        </tr>
        <tr>
            <td>{{ _("Posting Date") }}</td>
            <td>{{ posting_date }}</td>
        </tr>
        <tr>
            <td>{{ _("Due Date") }}</td>
            <td>{{ due_date }}</td>
        </tr>
        <tr>
            <td>{{ _("Supplier Invoice No") }}</td>
            <td>{{ bill_no }}</td>
        </tr>
        <tr>
            <td>{{ _("Net Total") }}</td>
            <td>{{ currency }} {{ "{:,.2f}".format(total).replace(",", "&apos;") }}</td>
        </tr>
        <tr>
            <td>{{ _("Taxes") }}</td>
            <td>{{ currency }} {{ "{:,.2f}".format(total_taxes_and_charges).replace(",", "&apos;") }}</td>
        </tr>
        <tr>
            <td>{{ _("Grand Total") }}</td>
            <td>{{ currency }} {{ grand_total }}</td>
        </tr>
        <tr>
            <td>{{ _("Expense Account / Cost Center") }}</td>
            <td>{{ (expense_account or "") }} / {{ (cost_center or "-") }}</td>
        </tr>
        <tr>
            <td>{{ _("IBAN") }}</td>
            <td>{{ iban }}</td>
        </tr>
        {% if is_return %}
            <tr>
                <td>{{ _("Return Type") }}</td>
                <td>{{ return_type }}</td>
            </tr>
        {% endif %}
        <tr>
            <td>{{ _("Remarks") }}</td>
            <td>{{ remarks }}</td>
        </tr>
</table>
  
